---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='04fc7ad0-4c60-450c-9320-2c821e0a0ce0' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/04fc7ad0-4c60-450c-9320-2c821e0a0ce0 - Change History</h2>
  <p>History of changes for 04fc7ad0-4c60-450c-9320-2c821e0a0ce0 {{type | downcase}}.</p>

  {%include Bundle-04fc7ad0-4c60-450c-9320-2c821e0a0ce0-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
