---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='8d184671-a40a-4236-9579-0445ecf98ea0' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/8d184671-a40a-4236-9579-0445ecf98ea0 - Change History</h2>
  <p>History of changes for 8d184671-a40a-4236-9579-0445ecf98ea0 {{type | downcase}}.</p>

  {%include Bundle-8d184671-a40a-4236-9579-0445ecf98ea0-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
