---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='17a0c807-372b-452c-972e-c59036153b57' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/17a0c807-372b-452c-972e-c59036153b57 - Change History</h2>
  <p>History of changes for 17a0c807-372b-452c-972e-c59036153b57 {{type | downcase}}.</p>

  {%include Bundle-17a0c807-372b-452c-972e-c59036153b57-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
