---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='36c3dd0e-7212-4e97-b857-507f91a36ee5' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/36c3dd0e-7212-4e97-b857-507f91a36ee5 - Change History</h2>
  <p>History of changes for 36c3dd0e-7212-4e97-b857-507f91a36ee5 {{type | downcase}}.</p>

  {%include Bundle-36c3dd0e-7212-4e97-b857-507f91a36ee5-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
