---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='9479ce7a-6837-42a5-a4d2-08f09254cbc9' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/9479ce7a-6837-42a5-a4d2-08f09254cbc9 - Change History</h2>
  <p>History of changes for 9479ce7a-6837-42a5-a4d2-08f09254cbc9 {{type | downcase}}.</p>

  {%include Bundle-9479ce7a-6837-42a5-a4d2-08f09254cbc9-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
