---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='f628d121-52f5-401b-a195-3492b3fec614' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/f628d121-52f5-401b-a195-3492b3fec614 - Change History</h2>
  <p>History of changes for f628d121-52f5-401b-a195-3492b3fec614 {{type | downcase}}.</p>

  {%include Bundle-f628d121-52f5-401b-a195-3492b3fec614-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
