---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='abdd86e8-e084-4fad-95ce-fb82c36c5768' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/abdd86e8-e084-4fad-95ce-fb82c36c5768 - Change History</h2>
  <p>History of changes for abdd86e8-e084-4fad-95ce-fb82c36c5768 {{type | downcase}}.</p>

  {%include Bundle-abdd86e8-e084-4fad-95ce-fb82c36c5768-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
