---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='4af4ef94-c452-4e52-8176-b8bd1d059433' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/4af4ef94-c452-4e52-8176-b8bd1d059433 - Change History</h2>
  <p>History of changes for 4af4ef94-c452-4e52-8176-b8bd1d059433 {{type | downcase}}.</p>

  {%include Bundle-4af4ef94-c452-4e52-8176-b8bd1d059433-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
