---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='71ea109a-a5fb-4301-8609-34d7849190df' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/71ea109a-a5fb-4301-8609-34d7849190df - Change History</h2>
  <p>History of changes for 71ea109a-a5fb-4301-8609-34d7849190df {{type | downcase}}.</p>

  {%include Bundle-71ea109a-a5fb-4301-8609-34d7849190df-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
