---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='a0536ce3-9687-4c3f-a753-47d37dc8cb04' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/a0536ce3-9687-4c3f-a753-47d37dc8cb04 - Change History</h2>
  <p>History of changes for a0536ce3-9687-4c3f-a753-47d37dc8cb04 {{type | downcase}}.</p>

  {%include Bundle-a0536ce3-9687-4c3f-a753-47d37dc8cb04-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
