---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='1acdc074-1793-4651-831d-d45383de88d7' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/1acdc074-1793-4651-831d-d45383de88d7 - Change History</h2>
  <p>History of changes for 1acdc074-1793-4651-831d-d45383de88d7 {{type | downcase}}.</p>

  {%include Bundle-1acdc074-1793-4651-831d-d45383de88d7-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
