---
---

{% if 'json' == 'xml' %}
{% assign section = '7' %}
{% elsif 'json' == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
{% include fragment-base-navtabs.html type='Bundle' id='b40c8da9-81b5-473b-898e-c8536cb36d34' active='json' %}

<a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
<h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title | escape_once}}</h2>
{% include fragment-simpletable.html %}

<p><a href="Bundle-b40c8da9-81b5-473b-898e-c8536cb36d34.json" no-download="true">Raw json</a> | <a href="Bundle-b40c8da9-81b5-473b-898e-c8536cb36d34.json" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='Bundle' id='b40c8da9-81b5-473b-898e-c8536cb36d34' %}

  {% include Bundle-b40c8da9-81b5-473b-898e-c8536cb36d34-json-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='Bundle' id='b40c8da9-81b5-473b-898e-c8536cb36d34' %}

</div>
{% include fragment-pageend.html %}
