---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='5832154e-58d0-4590-9ba0-21661dbe2658' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/5832154e-58d0-4590-9ba0-21661dbe2658 - Change History</h2>
  <p>History of changes for 5832154e-58d0-4590-9ba0-21661dbe2658 {{type | downcase}}.</p>

  {%include Bundle-5832154e-58d0-4590-9ba0-21661dbe2658-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
