---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='7b380ba1-6d36-4c59-9878-1d9875011a6b' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/7b380ba1-6d36-4c59-9878-1d9875011a6b - Change History</h2>
  <p>History of changes for 7b380ba1-6d36-4c59-9878-1d9875011a6b {{type | downcase}}.</p>

  {%include Bundle-7b380ba1-6d36-4c59-9878-1d9875011a6b-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
