---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='cd9b8635-aef9-4518-b52d-35fbd384a7be' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/cd9b8635-aef9-4518-b52d-35fbd384a7be - Change History</h2>
  <p>History of changes for cd9b8635-aef9-4518-b52d-35fbd384a7be {{type | downcase}}.</p>

  {%include Bundle-cd9b8635-aef9-4518-b52d-35fbd384a7be-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
