---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='ff90d6fc-fa84-4c0f-969d-84510b0ef7e3' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/ff90d6fc-fa84-4c0f-969d-84510b0ef7e3 - Change History</h2>
  <p>History of changes for ff90d6fc-fa84-4c0f-969d-84510b0ef7e3 {{type | downcase}}.</p>

  {%include Bundle-ff90d6fc-fa84-4c0f-969d-84510b0ef7e3-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
