---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='cc7b9615-3d48-404d-a82a-f4d158839843' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/cc7b9615-3d48-404d-a82a-f4d158839843 - Change History</h2>
  <p>History of changes for cc7b9615-3d48-404d-a82a-f4d158839843 {{type | downcase}}.</p>

  {%include Bundle-cc7b9615-3d48-404d-a82a-f4d158839843-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
