---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='2f7168e9-9c1f-4103-a30a-e5c4acf05c45' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/2f7168e9-9c1f-4103-a30a-e5c4acf05c45 - Change History</h2>
  <p>History of changes for 2f7168e9-9c1f-4103-a30a-e5c4acf05c45 {{type | downcase}}.</p>

  {%include Bundle-2f7168e9-9c1f-4103-a30a-e5c4acf05c45-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
