---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='7502c124-03b0-4347-8edf-424b0c978627' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/7502c124-03b0-4347-8edf-424b0c978627 - Change History</h2>
  <p>History of changes for 7502c124-03b0-4347-8edf-424b0c978627 {{type | downcase}}.</p>

  {%include Bundle-7502c124-03b0-4347-8edf-424b0c978627-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
