---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='ec49747c-6005-4732-86b5-c7d2ec9f173d' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/ec49747c-6005-4732-86b5-c7d2ec9f173d - Change History</h2>
  <p>History of changes for ec49747c-6005-4732-86b5-c7d2ec9f173d {{type | downcase}}.</p>

  {%include Bundle-ec49747c-6005-4732-86b5-c7d2ec9f173d-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
