---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='650a355e-438e-41c7-a7f1-0e3e0df18e16' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/650a355e-438e-41c7-a7f1-0e3e0df18e16 - Change History</h2>
  <p>History of changes for 650a355e-438e-41c7-a7f1-0e3e0df18e16 {{type | downcase}}.</p>

  {%include Bundle-650a355e-438e-41c7-a7f1-0e3e0df18e16-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
