---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='9b86a65a-1428-46f5-9487-7e5cdfe687fe' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/9b86a65a-1428-46f5-9487-7e5cdfe687fe - Change History</h2>
  <p>History of changes for 9b86a65a-1428-46f5-9487-7e5cdfe687fe {{type | downcase}}.</p>

  {%include Bundle-9b86a65a-1428-46f5-9487-7e5cdfe687fe-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
