---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='3111b274-76e4-403c-8701-ec94edcd2bf2' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/3111b274-76e4-403c-8701-ec94edcd2bf2 - Change History</h2>
  <p>History of changes for 3111b274-76e4-403c-8701-ec94edcd2bf2 {{type | downcase}}.</p>

  {%include Bundle-3111b274-76e4-403c-8701-ec94edcd2bf2-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
