---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='857fc416-31c1-4724-9a2e-da3888aa5562' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/857fc416-31c1-4724-9a2e-da3888aa5562 - Change History</h2>
  <p>History of changes for 857fc416-31c1-4724-9a2e-da3888aa5562 {{type | downcase}}.</p>

  {%include Bundle-857fc416-31c1-4724-9a2e-da3888aa5562-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
