---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='271a9b00-0b1c-46ac-b00e-c3193d187c62' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/271a9b00-0b1c-46ac-b00e-c3193d187c62 - Change History</h2>
  <p>History of changes for 271a9b00-0b1c-46ac-b00e-c3193d187c62 {{type | downcase}}.</p>

  {%include Bundle-271a9b00-0b1c-46ac-b00e-c3193d187c62-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
