---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-PF-receive-tec-01' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Receive dublicate: Patient is admitted, doesn't get acknowledged, patient is admitted. - PF-receive-tec-01 - Change History</h2>
  <p>History of changes for hospitalnotification-PF-receive-tec-01 {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-PF-receive-tec-01-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
