---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-receive-re-mors' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Receive: Update Deceased - is dead at arrival to the hospital - RE-MORS - Change History</h2>
  <p>History of changes for hospitalnotification-receive-re-mors {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-receive-re-mors-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
