---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-PF-send-tec-04' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Send: Admit patient and End hospital stay in different timezones. Correct use of timezone of summertime (+02:00) and vintertime (+01:00). - PF-send-tec-04 - Change History</h2>
  <p>History of changes for hospitalnotification-PF-send-tec-04 {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-PF-send-tec-04-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
