---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-PF-receive-tec-05' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Receive: Receive a message on the 29th of February 2024 (leap year): Patient is admitted on the date of leap year - PF-receive-tec-05 - Change History</h2>
  <p>History of changes for hospitalnotification-PF-receive-tec-05 {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-PF-receive-tec-05-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
