---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='TestScript' id='hospitalnotification-PF-send-emer-02' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Send: Register patient as acute ambulant, correct message due to incorrect time of admission - PF-send-emer-02 - Change History</h2>
  <p>History of changes for hospitalnotification-PF-send-emer-02 {{type | downcase}}.</p>

  {%include TestScript-hospitalnotification-PF-send-emer-02-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
